body{
  background-color: rgb(239, 242, 243);
  font-style: inherit;
}
.banner-img {
  background-image: url("images/header-lg.png");
}

.title-size{
  height: 400px;
}
.title{
    font-size: 50px; 
}
.button {
  background-color: #50E2D0;
  color: #322B78;; 
  border: none;
  padding: 10px;
  margin-top: 0px;
  width: 222px;
}
.line{
  border-bottom:1px solid #fff;
}
.extend{
  height: 150px;
}
input {
  background-color: transparent;
  width: 100%;
  color:black;
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
.color-box{
  width: 43.44px;
  height: 39px;
}
input[type="checkbox"] { 
  accent-color:#50E2D0 ;  
}

input[type="checkbox"] { 
  accent-color:#50E2D0 ;  
}
.checkbox{
  margin: 0;
  width: 43.44px;
  height: 39px;
}

input[type="checkbox"] {
  accent-color:#50E2D0 ;  
}


@media only screen and (max-width: 600px) {
  .banner-img {
    background-image: url("images/header-sm.png");
  }
  .counter {
 
  }
 
  .title-size{
    height: 250px ;
  }
  .bg-title{
    height: 300px;
    background-color: #322B78;
  }
  .title {
    margin-top: 60px;
    margin-left: 30px;
    font-size: 28px;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .agenda{
    display: none;
  }
  .data {
    background-color: white;
    text-align: center;
  }
  .despre{
    text-align: center;
  }
  .speakeri{
    text-align: center;
  }
}