body{
  background-color: rgb(239, 242, 243);
}
.banner-img {
  background-image: url("images/header-lg.png");
  background-size:cover ;
  background-repeat: no-repeat;
}
.logo{
  width: 285px;
  height: 109px;
}
.counter{
  width: 284px;
  height: 117px;
}
.title{
  margin-top: 150px;
  height: 400px;
  font-size: 60px;
}
.subtitle{
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  margin-top: -250px;
}
.button {
  background-color: #50E2D0;
  color: #322B78;; 
  border: none;
  padding: 12px;
  width: 222px;
  margin-top: 25px;
}
.data{
  margin-top: 150px;
}
.agenda{
  margin-top: 150px;
}
.icon{
  margin-top: -20px;
  color: gray;
  height:1rem;
  font-size: 2em;
}
.line{
  border-bottom:1px solid #fff;
}
.extend{
  height: 150px;
}
.over{
  margin-top: -100px;
}
input {
  background-color: transparent;
  width: 100%;
  color:black;
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
.color-box{
  width: 43.44px;
  height: 39px;
}
input[type="checkbox"] { 
  accent-color:#50E2D0 ;  
}

input[type="checkbox"] { 
  accent-color:#50E2D0 ;  
}
.checkbox{
  margin: 0;
  width: 43.44px;
  height: 39px;
}

input[type="checkbox"] {
  accent-color:#50E2D0 ;  
}

.slick-next:before {
  width:10px;
height: 10px;
position: absolute;
top: 50%;
left: -20px;
margin-top: -10px;
background: url('images/Component\ 5\ –\ 2.png');
}


@media only screen and (max-width: 600px) {
  .banner-img {
    background-image: url("images/header-sm.png");
    background-size:contain;
    background-repeat: no-repeat;
  }
  .logo{
    width: 174px;
    height: 66px;
  }
  .counter {
    width:70%;
    margin-left:15%;
    margin-right:15%;
    margin-top: 200px;
  }
  .title{
    font-size: 30px;
    margin-top: 30px;
  }
  .subtitle{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    margin-top: -330px;
  }
  .button{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .container-fluid .bg-title{
 
    background-color: #322B78;
    margin-top: 25px;
    padding: 35px;

  }
  .agenda{
    display: none;
  }
  .data {
    background-color: white;
    text-align: center;
    margin: 0px;

  }
  .despre{
    text-align: center;
    margin-top: 30px;
  }
  .main-carousel{
   
  }
  .over{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .speakeri{
    text-align: center;
 
  }
}